.container {
  padding: 160px 15% 120px;
  display: grid;
  grid-template-columns: repeat(2, 1ft);
  align-items: center;
  gap: 1.5rem;
}
.aboutImg {
  margin: auto;
  margin-top: -60px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.aboutImg img {
  max-width: 430px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  margin-bottom: -4px;
}

.aboutText h2 {
  font-size: 3rem;
  line-height: 1;
  color: var(--color-text);
  text-align: center;
}

.aboutText h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  line-height: 1.7;
  margin: 15px 0 30px;
  text-align: center;
}

.aboutText p {
  color: var(--color-secondary);
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 4rem;
  width: 80%;
  margin: auto;
}

.aboutSpan {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
}

.spanDiv {
  margin-top: 5px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:830px) {
  .spanDiv {
    margin-top: 10px;
    padding: 10px;
  }
}
