.container {
  padding: 160px 15% 120px;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/home/background.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide {
  margin-bottom: 20px;
}

.one {
  display: inline-block;
  margin-right: 15px;
  height: 32px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-text);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.two {
  display: inline-block;
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 500;
}

.content h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-text);
  list-style: 1.1;
  margin: 0 0 8px;
}

.content h3 {
  color: var(--color-text);
  margin: 0 0 35px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

.content p {
  color: var(--color-secondary);
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 40px;
}

.divButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.contactBtn {
  display: incline-block;
  padding: 12px 29px;
  background: var(--color-primary);
  border-radius: 100px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all .45s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.contactBtn:hover {
  transform: scale(0.9);
}

@media screen and (max-width:830px) {
  .content h3 {
    font-size: 1.5rem;
  }
  .content {
    margin-top: 30px;
  }
  .content h1 {
    font-size: 2.5rem;
  }
  .container {
    height: 87vh;
  }
}
