.container {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.lastText {
    color: var(--color-text);
    font-size: 14px;
}